<style>
    .work-process-section-one {
        border-radius: 0 !important;
        margin: 0 !important;
        padding-top: 190px !important;
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        .work-process-section-one {
            padding-top: 110px !important;
        }
    }

    @media only screen and (max-width: 1700px) {
        .work-process-section-one {
            padding-top: 110px !important;
        }
    }

    .work-process-section-one {
        padding: 120px 0 100px;
        background-color: var(--heading-color);
        border-radius: 20px;
        margin: 0 30px 0 30px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        height: 100vh;
    }

    .breadcumb-area {
        display: none;
    }

    .main-menu .navigation>li>a {
        color: #fff;
    }

    .main-menu .navigation {
        margin: 0 auto;
        position: relative;
        width: 70vw !important;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header-solar-renewable .main-box .nav-outer {
        gap: 0 !important;
    }
</style>
<!-- work process section one -->
<section class="work-process-section-one">
    <div class="auto-container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="sec-title text-center">
                    <div class="section-sub-title">
                        <h5 class="sub-title">
                            <img alt="sub-icon" src="/portals/2/Econet/Image/Skin/environment/sub-title-icon.png" />
                            بودجه شهروندی
                        </h5>
                    </div>
                    <div class="section-title">
                        <h1 class="title text-white text-anime-3">
                            سندی ساده، قابل فهم و قابل دسترس
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="working-process-box first before-transprent after-transprent fade-in">
                    <a href="https://plan.tehran.ir/EnUrl/BodjeShahrvandi1405">
                        <div class="process-icon">
                            <img alt="icon" src="/Portals/2/Econet/Image/BodjeSharvandi/process-icon3.png" />
                        </div>
                    </a>
                    <div class="process-content">
                        <h4>1405</h4>
                        <p>
                            ECONET یک اصلی محیط زیست غیرانتفاعی است اختصاص داده شده به
                            محافظت از سیاره از طریق توانمندسازی جامعه
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="working-process-box after-transprent fade-in">
                    <a href="https://plan.tehran.ir/EnUrl/BodjeShahrvandi1404">
                        <div class="process-icon">
                            <img alt="icon" src="/Portals/2/Econet/Image/BodjeSharvandi/process-icon3.png" />
                        </div>
                    </a>
                    <div class="process-content">
                        <h4>1404</h4>
                        <p>
                            ECONET یک اصلی محیط زیست غیرانتفاعی است اختصاص داده شده به
                            محافظت از سیاره از طریق توانمندسازی جامعه
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="working-process-box first before-transprent fade-in">
                    <a href="https://plan.tehran.ir/EnUrl/BodjeShahrvandi1403">
                        <div class="process-icon">
                            <img alt="icon" src="/Portals/2/Econet/Image/BodjeSharvandi/process-icon3.png" />
                        </div>
                    </a>
                    <div class="process-content">
                        <h4>1401 الی 1403</h4>
                        <p>
                            ECONET یک اصلی محیط زیست غیرانتفاعی است اختصاص داده شده به
                            محافظت از سیاره از طریق توانمندسازی جامعه
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- work process section one -->