<ul>
    <li class="t-x12 t-justify t-fw-300  t-white"><i class='bx bx-spa t-x24 t-white'></i></li>
</ul>


<style>
    .dnnClear h2 {
        margin: 0px;
    }

    th,
    thead,
    tr {
        background-color: transparent !important;
    }

    td {
        background-color: transparent !important;
        border-bottom: none !important;
    }
</style>

<section class="why-choose-section-solar-classic">
    <div class="auto-container">


        <div class="row justify-content-md-center">
            <div class="col-lg-12">
                <div class="sec-title text-center">
                    <div class="section-sub-title">
                        <h5 class="sub-title">
                            <img alt="sub-icon" src="/Portals/2/Econet/Image/Skin/environment/sub-title-icon.png" />
                            اداره کل برنامه ریزی، بودجه و کنترل عملکرد
                        </h5>
                    </div>
                    <div class="section-title">
                        <h1 class="title title-anim text-white t-x48">
                            [TITLE]
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-xl-4" style="margin-top: -50px;">
                <div class="choose-box-wrapper">
                    <div class="divider mx-auto">
                        <div class="divider-text t-fw-600 t-center t-x14 t-success">
                            شرح وظایف
                        </div>
                    </div>
                    <ul>
                        <li class="t-x12 t-justify t-fw-300  t-white"><i class='bx bx-spa t-x24 t-white'></i>بررسی و
                            کنترل وضعیت تحقق منابع درآمدی براساس اطلاعات واصله عملکردی از معاونت مالی و اقتصاد شهری</li>
                        <li class="t-x12 t-justify t-fw-300  t-white"><i class='bx bx-spa t-x24 t-white'></i>برآورد
                            میزان کسری بودجه احتمالی از منظر کاهش تحقق منابع درآمدی و ارائه گزارشات دوره&zwnj;ای</li>
                        <li class="t-x12 t-justify t-fw-300  t-white"><i class='bx bx-spa t-x24 t-white'></i>بررسی ظرفیت
                            های درآمدی موجود در عملکرد برنامه&zwnj;ای و پروژه&zwnj;ای سطوح و بخش&zwnj;های مختلف</li>
                        <li class="t-x12 t-justify t-fw-300  t-white"><i class='bx bx-spa t-x24 t-white'></i>بررسی وضعیت
                            مصرف اعتبارات در ردیف&zwnj;های اعتباری و ارائه گزارشات مورد نیاز</li>
                        <li class="t-x12 t-justify t-fw-300  t-white"><i class='bx bx-spa t-x24 t-white'></i>تهیه، تنظیم
                            و صدور تخصیص اعتبارات براساس میزان پیشرفت برنامه&zwnj;ها، وضعیت نقدینگی خزانه و
                            اولویت&zwnj;های برنامه&zwnj;ای شهرداری تهران در سقف مصوبات کمیته تخصیص</li>
                        <li class="t-x12 t-justify t-fw-300  t-white"><i class='bx bx-spa t-x24 t-white'></i>برگزاری
                            جلسات کارگروه تخصیص اعتبارات و پیگیری برگزاری جلسات کمیته تخصیص</li>
                        <li class="t-x12 t-justify t-fw-300  t-white"><i class='bx bx-spa t-x24 t-white'></i>کنترل و
                            پایش وضعیت اجرای احکام و تبصره های بودجه سالانه و ارائه گزارشات موردی</li>
                        <li class="t-x12 t-justify t-fw-300  t-white"><i class='bx bx-spa t-x24 t-white'></i>تهیه و
                            تنظیم گزارشات دوره&zwnj;ای و موردی مورد نیاز مراجع ذیربط از وضعیت عملکرد بودجه سالانه</li>
                    </ul>
                    <div class="divider mx-auto">
                        <div class="divider-text t-fw-600 t-center t-x14 t-success">
                            ادارات تابعه:
                        </div>
                    </div>
                    <ul>
                        <li class="t-x12 t-justify t-fw-300  t-white"><i class='bx bx-spa t-x24 t-white'></i>
                            اداره راهبری و کنترل منابع
                        </li>
                        <li class="t-x12 t-justify t-fw-300  t-white"><i class='bx bx-spa t-x24 t-white'></i>
                            اداره حسابرسی و تلفیق بودجه
                        </li>
                        <li class="t-x12 t-justify t-fw-300  t-white"><i class='bx bx-spa t-x24 t-white'></i>
                            اداره تخصیص اعتبارات
                        </li>
                        <li class="t-x12 t-justify t-fw-300  t-white"><i class='bx bx-spa t-x24 t-white'></i>
                            اداره پیگیری و مدیریت منابع بودجه دولتی
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 mt-5">
                <div class="why-choose-thumb">
                    <div>
                        <img alt="choose-thumb" src="[URL]" />
                    </div>
                </div>
            </div>
            <div class="col-xl-4" style="margin-top: -50px">
                <div class="choose-box-wrapper">
                    <div class="divider mx-auto">
                        <div class="divider-text t-fw-600 t-center t-x14 t-success">
                            معرفی معاون
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class=" t-center t-white t-x14">نام</th>
                                <th scope="col" class=" t-center t-white t-x14 w-25">نام خانوادگی</th>
                                <th scope="col" class=" t-center t-white t-x14">تحصیلات</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td class=" t-center t-white t-x14 t-fw-200" scope="row">[NAME]</td>
                                <td class=" t-center t-white t-x14 t-fw-200">[FAMILY]</td>
                                <td class=" t-center t-white t-x14 t-fw-200">[EDUCATION]</td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="divider mx-auto mt-5">
                        <div class="divider-text t-fw-600 t-center t-x14 t-success">
                            سوابق شغلی
                        </div>
                    </div>
                    <ul class="my-0 mr-4 ml-0 myul px-2">
                        <li class="t-right" style="display: flex;">
                            <sapn class="t-warning t-dark t-x12 d-inline-block myt">
                                <i class='bx bx-right-arrow t-x20 ml-2'></i>
                            </sapn>
                            <sapn class="t-justify t-x12 d-inline-block mr-2 mt-1 t-white t-fw-200">
                                [ACAREERHISTORY]
                            </sapn>
                        </li>
                        <li class="t-right" style="display: flex;">
                            <sapn class="t-warning t-dark t-x12 d-inline-block myt">
                                <i class='bx bx-right-arrow t-x20 ml-2'></i>
                            </sapn>
                            <sapn class="t-justify t-x12 d-inline-block mr-2 mt-1 t-white t-fw-200">
                                [BCAREERHISTORY]
                            </sapn>
                        </li>
                        <li class="t-right" style="display: flex;">
                            <sapn class="t-warning t-dark t-x12 d-inline-block myt">
                                <i class='bx bx-right-arrow t-x20 ml-2'></i>
                            </sapn>
                            <sapn class="t-justify t-x12 d-inline-block mr-2 mt-1 t-white t-fw-200">
                                [CCAREERHISTORY]
                            </sapn>
                        </li>
                        <li class="t-right" style="display: flex;">
                            <sapn class="t-warning t-dark t-x12 d-inline-block myt">
                                <i class='bx bx-right-arrow t-x20 ml-2'></i>
                            </sapn>
                            <sapn class="t-justify t-x12 d-inline-block mr-2 mt-1 t-white t-fw-200">
                                [DCAREERHISTORY]
                            </sapn>
                        </li>
                        <li class="t-right" style="display: flex;">
                            <sapn class="t-warning t-dark t-x12 d-inline-block myt">
                                <i class='bx bx-right-arrow t-x20 ml-2'></i>
                            </sapn>
                            <sapn class="t-justify t-x12 d-inline-block mr-2 mt-1 t-white t-fw-200">
                                [ECAREERHISTORY]
                            </sapn>
                        </li>
                    </ul>
                </div>
            </div>
        </div>




        <div class="choose-shape3 solar-tree">
            <img alt="choose shape" src="/Portals/2/Econet/Image/Skin/solar/why-choose-shape3.png" />
        </div>
        <div class="choose-shape4 windmill-img">
            <img alt="choose shape" src="/Portals/2/Econet/Image/Skin/solar/why-choose-shape4.png" />
        </div>
    </div>
</section>