<style>
    .about-section-classic .about-shape1 {
        left: 80px;
    }

    .about-section-classic .about-sec {
        padding-bottom: 0px;
    }

    .about-section-classic .about-shape3 {
        top: 40px;
        right: 40px;
    }

    .about-section-classic .about-shape3 {
        position: absolute;
        top: 0;
        animation: upDown 1.6s ease-in-out 1.6s forwards infinite alternate;
    }
</style>

<div class="auto-container">
    <div class="row about-sec align-items-center d-flex">
        <div class="col-lg-6">
            <div class="about-thumb">
                <div>
                    <img alt="about-thumb" src="/Portals/2/Econet/Image/head2.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="sec-title">
                <div class="section-sub-title">
                    <h5 class="sub-title">
                        <img alt="sub-icon" src="/Portals/2/Econet/Image/Skin/environment/sub-title-icon.png" />چرا
                        بودجه شهروندی؟
                    </h5>
                </div>
                <div class="section-title">
                    <h1 class="title text-anime-3 my-5 t-x40">
                        سندی ساده، قابل فهم و قابل دسترس
                    </h1>
                    <hr />
                </div>
                <div class="section-desc">
                    <p class="t-justify t-x14">
                        برای همه شهروندان که اطلاعات مختصر، ساده و غیرفنی در قالب
                        اشکال، نمودارهای جذاب و کاربردی در حوزه بودجه عمومی را به آنها توضیح داده و زمینه را برای انجام
                        مسئولیت های شهروندی مهیا می کند.
                    </p>
                </div>
                <div class="econet-button">
                    <a href="about.html">اطلاعات بیشتر در مورد ما<i class="fa-solid fa-arrow-left"></i><span></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="about-shape3">
        <img alt="about-shape" src="/portals/2/Econet/Image/logo-final.png" style="height: 150px;">
    </div>
    <div class="about-shape1">
        <img alt="about shape" src="/portals/2/Econet/Image/Skin/environment/testi-shape2.png" />
    </div>
</div>