<style>
    .donate-love-section-charity {
        margin-top: 0;
    }

    .swiper-move {
        width: 100%;
        height: 100%;
        padding-bottom: 50px;
    }

    .swiper-slide-move {
        text-align: center;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .ghab-title {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .ghab-title-sub {
        border: 1px solid #fff;
        background-color: rgb(25 135 84 / 40%);
        z-index: 0;
        width: 70%;
        padding: 4px;
        border-radius: 50px;
        height: 30px;
        margin: -40px auto;
    }

    .brand-area-classic {
        padding: 0;
    }
</style>

<section class="why-choose-section-one classic">
    <div class="auto-container">
        <div class="row justify-content-center align-items-center my-5">
            <div class="col-lg-7">
                <div class="divider divider-success my-1">
                    <div class="divider-text t-success t-center t-x18 t-fw-700">
                        <div class="sec-title my-0 mx-auto">
                            <div class="section-sub-title t-center">
                                <h5 class="sub-title t-x20 t-success t-fw-700 mb-0">
                                    <i class="bx bx-book-open t-x20"></i>
                                    کلیپ های اقدامات و موضوعات
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="donate-love-section-charity">
                    <div class="donate-love-thumb">
                        <img alt="thumb" src="/Portals/2/Econet/Image/Skin/charity/donation-love1.png" />
                        <div class="donation-video-icon t-center">
                            <a class="popup-video" data-cursor-text="پخش"
                                href="/Portals/2/Econet/Move/Ghab/ghabe-0.mp4"><i
                                    class="fa-classic fa-solid fa-play fa-fw"></i></a>
                            <div class="w-100 t-center ghab-title">
                                <div class="ghab-title-sub">
                                    <p class="t-center t-white t-x14 t-fw-700">
                                        قاب صفر - تعریف
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title mt-5 mr-5">
                    <h1 class="title t-x18 text-success text-anime-3 mr-4">
                        اقدامات بودجه شهروندی
                    </h1>
                    <hr />
                    <p class="t-x14 t-white t-fw-400 t-justify">
                        بودجه شهروندی در راستای آگاهی‌بخشی و شفافیت، اقدامات و موضوعات بودجه شهر را در قالب کلیپ‌های
                        کوتاه و قابل فهم روایت می‌کند.
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12 mt-5">
                <div class="swiper swiper-move">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide swiper-slide-move">
                            <div class="donate-love-section-charity">
                                <div class="donate-love-thumb">
                                    <img alt="thumb" src="/Portals/2/Econet/Image/Skin/charity/donation-love1.png" />
                                    <div class="donation-video-icon">
                                        <a class="popup-video" data-cursor-text="پخش" style="top:10%" href="#"><i
                                                class="fa-classic fa-solid fa-play fa-fw"></i></a>
                                        <div class="w-100 t-center ghab-title">
                                            <div class="ghab-title-sub">
                                                <p class="t-center t-white t-x14 t-fw-700">
                                                    قاب 1 - در حال تولید...
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-move">
                            <div class="donate-love-section-charity">
                                <div class="donate-love-thumb">
                                    <img alt="thumb" src="/Portals/2/Econet/Image/Skin/charity/donation-love1.png" />
                                    <div class="donation-video-icon">
                                        <a class="popup-video" data-cursor-text="پخش" style="top:10%" href="#"><i
                                                class="fa-classic fa-solid fa-play fa-fw"></i></a>
                                        <div class="w-100 t-center ghab-title">
                                            <div class="ghab-title-sub">
                                                <p class="t-center t-white t-x14 t-fw-700">
                                                    قاب 2 - در حال تولید...
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-move">
                            <div class="donate-love-section-charity">
                                <div class="donate-love-thumb">
                                    <img alt="thumb" src="/Portals/2/Econet/Image/Skin/charity/donation-love1.png" />
                                    <div class="donation-video-icon">
                                        <a class="popup-video" data-cursor-text="پخش" style="top:10%"
                                            href="/Portals/2/Econet/Move/Ghab/ghabe-3.mp4"><i
                                                class="fa-classic fa-solid fa-play fa-fw"></i></a>
                                        <div class="w-100 t-center ghab-title">
                                            <div class="ghab-title-sub">
                                                <p class="t-center t-white t-x14 t-fw-700">
                                                    قاب 3 - اجتماعی و فرهنگی
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-move">
                            <div class="donate-love-section-charity">
                                <div class="donate-love-thumb">
                                    <img alt="thumb" src="/Portals/2/Econet/Image/Skin/charity/donation-love1.png" />
                                    <div class="donation-video-icon">
                                        <a class="popup-video" data-cursor-text="پخش" style="top:10%"
                                            href="/Portals/2/Econet/Move/Ghab/ghab-4.mp4"><i
                                                class="fa-classic fa-solid fa-play fa-fw"></i></a>
                                        <div class="w-100 t-center ghab-title">
                                            <div class="ghab-title-sub">
                                                <p class="t-center t-white t-x14 t-fw-700">
                                                    قاب 4 - ایمنی و مدیریت بحران </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-move">
                            <div class="donate-love-section-charity">
                                <div class="donate-love-thumb">
                                    <img alt="thumb" src="/Portals/2/Econet/Image/Skin/charity/donation-love1.png" />
                                    <div class="donation-video-icon">
                                        <a class="popup-video" data-cursor-text="پخش" style="top:10%" href="#"><i
                                                class="fa-classic fa-solid fa-play fa-fw"></i></a>
                                        <div class="w-100 t-center ghab-title">
                                            <div class="ghab-title-sub">
                                                <p class="t-center t-white t-x14 t-fw-700">
                                                    قاب 5 - در حال تولید...
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-move">
                            <div class="donate-love-section-charity">
                                <div class="donate-love-thumb">
                                    <img alt="thumb" src="/Portals/2/Econet/Image/Skin/charity/donation-love1.png" />
                                    <div class="donation-video-icon">
                                        <a class="popup-video" data-cursor-text="پخش" style="top:10%" style="top:10%"
                                            href="#"><i class="fa-classic fa-solid fa-play fa-fw"></i></a>
                                        <div class="w-100 t-center ghab-title">
                                            <div class="ghab-title-sub">
                                                <p class="t-center t-white t-x14 t-fw-700">
                                                    قاب 6 - در حال تولید...
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination-move"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Initialize Swiper -->
<script type="module">

    var swipermove = new Swiper('.swiper-move', {
        pagination: {
            el: '.swiper-pagination-move',
        },
        speed: 5000,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        slidesPerView: 4,
        spaceBetween: 30,
        breakpoints: {
            1920: {
                slidesPerView: 4,
            },
            1400: {
                slidesPerView: 4,
            },
            1200: {
                slidesPerView: 4,
            },
            992: {
                slidesPerView: 3,
            },
            768: {
                slidesPerView: 2,
            },
            576: {
                slidesPerView: 1,
            },
            0: {
                slidesPerView: 1,
            },
        },
    });
</script>