<style>
    .why-choose-section-one.classic {
        padding: 0px;
        margin: 0;
    }

    .why-choose-section-solar-classic {
        padding: 10vh 0;
    }
</style>
<div class="why-choose-section-solar-classic">
    <div class="auto-container">
        <div class="row justify-content-center align-items-center my-5">
            <div class="col-lg-6">
                <div class="divider divider-warning my-1">
                    <div class="divider-text t-success t-center t-x18 t-fw-700">
                        <div class="sec-title my-0 mx-auto">
                            <div class="section-sub-title t-center">
                                <h5 class="sub-title t-x20 t-success t-fw-700 mb-0">
                                    <i class="bx bx-book-open t-x20"></i>
                                    موضوعات بودجه شهروندی
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="choose-box-wrapper">
                    <div class="choose-box fade-in">
                        <div class="choose-icon">
                            <span><img alt="icon" src="/Portals/2/Econet/Image/Subject/1.png" /></span>
                        </div>
                        <div class="choose-title">
                            <h4 class="t-x18">
                                ایمنی و مدیریت بحران
                            </h4>
                        </div>
                        <div class="econet-hover-box hover-bx"></div>
                        <div class="econet-hover-box hover-bx2"></div>
                        <div class="econet-hover-box hover-bx3"></div>
                        <div class="econet-hover-box hover-bx4"></div>
                    </div>
                    <div class="choose-box box-2 fade-in">
                        <div class="choose-icon two">
                            <span><img alt="icon" src="/Portals/2/Econet/Image/Subject/2.png" /></span>
                        </div>
                        <div class="choose-title">
                            <h4 class="t-x18">
                                شهرسازی و معماری
                            </h4>
                        </div>
                        <div class="econet-hover-box hover-bx"></div>
                        <div class="econet-hover-box hover-bx2"></div>
                        <div class="econet-hover-box hover-bx3"></div>
                        <div class="econet-hover-box hover-bx4"></div>
                    </div>
                    <div class="choose-box box-3 fade-in">
                        <div class="choose-icon three">
                            <span><img alt="icon" src="/Portals/2/Econet/Image/Subject/3.png" /></span>
                        </div>
                        <div class="choose-title">
                            <h4 class="t-x18">
                                توسعه مدیریت و هوشمند سازی
                            </h4>
                        </div>
                        <div class="econet-hover-box hover-bx"></div>
                        <div class="econet-hover-box hover-bx2"></div>
                        <div class="econet-hover-box hover-bx3"></div>
                        <div class="econet-hover-box hover-bx4"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="why-choose-thumb">
                    <img alt="choose-thumb" src="/Portals/2/Econet/Image/Skin/solar/why-choose-thumb.png" />
                </div>
            </div>
            <div class="col-xl-4">
                <div class="choose-box-wrapper">
                    <div class="choose-box fade-in">
                        <div class="choose-icon">
                            <span><img alt="icon" src="/Portals/2/Econet/Image/Subject/4.png" /></span>
                        </div>
                        <div class="choose-title">
                            <h4 class="t-x18">
                                اجتماعی و فرهنگی
                            </h4>
                        </div>
                        <div class="econet-hover-box hover-bx"></div>
                        <div class="econet-hover-box hover-bx2"></div>
                        <div class="econet-hover-box hover-bx3"></div>
                        <div class="econet-hover-box hover-bx4"></div>
                    </div>
                    <div class="choose-box box-2 fade-in">
                        <div class="choose-icon two">
                            <span><img alt="icon" src="/Portals/2/Econet/Image/Subject/5.png" /></span>
                        </div>
                        <div class="choose-title">
                            <h4 class="t-x18">
                                حمل و نقل و ترافیک
                            </h4>
                        </div>
                        <div class="econet-hover-box hover-bx"></div>
                        <div class="econet-hover-box hover-bx2"></div>
                        <div class="econet-hover-box hover-bx3"></div>
                        <div class="econet-hover-box hover-bx4"></div>
                    </div>
                    <div class="choose-box box-3 fade-in">
                        <div class="choose-icon three">
                            <span><img alt="icon" src="/Portals/2/Econet/Image/Subject/6.png" /></span>
                        </div>
                        <div class="choose-title">
                            <h4 class="t-x18">
                                خدمات شهری و محیط زیست
                            </h4>
                        </div>
                        <div class="econet-hover-box hover-bx"></div>
                        <div class="econet-hover-box hover-bx2"></div>
                        <div class="econet-hover-box hover-bx3"></div>
                        <div class="econet-hover-box hover-bx4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="choose-shape4 windmill-img">
            <img alt="choose shape" src="/portals/2/Econet/Image/Skin/solar/footer-shape2.png" />
        </div>
    </div>
</div>