<section class="work-process-section-classic">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sec-title text-center">
                    <div class="section-sub-title">
                        <h5 class="sub-title t-x16">
                            <img alt="sub-icon" src="/Portals/2/Econet/Image/Skin/environment/sub-title-icon.png" />
                            معرفی اداره کل
                        </h5>
                    </div>
                    <div class="section-title">
                        <h1 class="title text-anime-3 t-x20">
                            برنامه ریزی، بودجه و کنترل عملکرد
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="blog-details-area">
                    <div class="blog-details-content">
                        <div class="blog-details-author-talk mt-0">
                            <div class="blog-details-quote">
                                <img alt="quote" src="/portals/2/Econet/Image/Skin/solar/circle.png" style="animation: rotateme 18s linear infinite;">
                            </div>
                            <div class="blog-details-author-title">
                                <p class="t-x16 t-fw-600 t-justify">
                                    اداره‌کل «برنامه ریزی، بودجه و کنترل عملکرد» که از ادغام ماموریت‌های دو اداره‌کل
                                    «برنامه
                                    و
                                    بودجه» و
                                    اداره‌کل «پایش برنامه، کنترل پروژه و ارزیابی عملکرد» ایجاد شده است، ماموریت‌های مهمی
                                    از
                                    شهرداری
                                    تهران را برعهده دارد که اهم این ماموریت‌ها بطور خلاصه به شرح زیر میباشد:
                                </p>
                            </div>
                        </div>
                        <div class="blog-details-list-item mt-3">
                            <ul>
                                <li class="t-x14 t-justify t-fw-300">
                                    <i class='bx bx-spa t-warning t-x20'></i>نوآوری بازار
                                    تهیه، تنظیم و پایش برنامه‌های جامع بلند مدت و میان مدت راهبردی و عملیاتی شهرداری
                                    تهران
                                </li>
                                <li class="t-x14 t-justify t-fw-300">
                                    <i class='bx bx-spa t-warning t-x20'></i>
                                    مکیدن منابع را
                                    تهیه و تنظیم بودجه‌های سالیانه شهرداری تهران، اصلاحیه‌ها و متمم آن، ابلاغ بودجه مصوب
                                    و
                                    مدیریت تخصیص اعتبارات برای کنترل منابع و مصارف، همچنین کنترل و نظارت بر اجرای برنامه
                                    و بودجه
                                    در راستای پایش چگونگی میزان تحقق اهداف و برنامه‌های پیش‌بینی شده.
                                </li>
                                <li class="t-x14 t-justify t-fw-300">
                                    <i class='bx bx-spa t-warning t-x20'></i>
                                    جامعه های محور
                                    پایش پروژه‌های تملک دارایی سرمایه‌ای (احداثی، اولویت دار، توسعه محلی و مستمر) و
                                    هزینه‌ای
                                    به منظور اطمینان از انجام بموقع و صحیح آن‌ها و تهیه و تدوین شیوه نامه‌ها،
                                    دستورالعمل‌ها و
                                    استانداردهای مربوطه.
                                </li>
                                <li class="t-x14 t-justify t-fw-300">
                                    <i class='bx bx-spa t-warning t-x20'></i>
                                    برنامه‌ریزی و سازماندهی لازم درخصوص مدیریت و راهبری پروژه های خاص.

                                </li>
                                <li class="t-x14 t-justify t-fw-300">
                                    <i class='bx bx-spa t-warning t-x20'></i>
                                    جمع‌آوری، پالایش، به‌روزرسانی و صحت سنجی آمار و اطلاعات عملکردی از منابع و
                                    پایگاه‌های
                                    اطلاعات موجود.
                                </li>
                                <li class="t-x14 t-justify t-fw-300">
                                    <i class='bx bx-spa t-warning t-x20'></i>
                                    طراحی، تحلیل، توسعه و راهبری داشبوردهای مدیریتی و تخصصی مورد نیاز شهرداری تهران.

                                </li>
                                <li class="t-x14 t-justify t-fw-300">
                                    <i class='bx bx-spa t-warning t-x20'></i>
                                    مستندسازی عملکرد بخش‌های مختلف شهرداری تهران و مدیریت انتشار گزارشات عملکرد.

                                </li>
                                <li class="t-x14 t-justify t-fw-300">
                                    <i class='bx bx-spa t-warning t-x20'></i>
                                    توسعه و ارتقا نظام ارزیابی عملکرد (تدوین، بازنگری و تدقیق شاخص های ارزیابی، تحلیل
                                    داده ها
                                    و ...)، تدوین و ارائه گزارش تحلیلی و مدیریتی ارزیابی عملکرد.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>