<style>
    .give-daonation-section-charity {
        background: #0c2318 !important;
        background-image: none !important;
        margin-top: 0;
    }
</style>

<section class="give-daonation-section-charity">
    <div class="auto-container">
        <div class="row g-0 donation-form-bg">
            <div class="col-lg-5">
                <div class="donation-form-thumb">
                    <figure class="reveal"
                        style="opacity: 1; visibility: inherit; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                        <img alt="img" src="/portals/2/TehranAssets/modirkolBodje.jpg"
                            style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                        <div
                            style="position: absolute;bottom: 0;right: 0;left: 0;margin: 0 auto;text-align: center;background-color: rgb(255 255 255 / 20%);border-bottom-right-radius: 30px;">
                            <p class="t-x18 t-center t-white mt-2 mb-0 border-bottom border-white pb-2">
                                مدیر کل برنامه ریزی، بودجه و کنترل عملکرد
                            </p>

                            <p class="t-x14 t-center t-white my-2">
                                علی علاءالدینی
                            </p>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="donation-form p-2">
                    <div class="divider my-1">
                        <div class="divider-text t-bold t-center t-x7">
                            سوابق تحصیلی
                        </div>
                    </div>
                    <div class="blog-details-list-item">
                        <ul>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bxs-graduation t-warning t-x24'></i>
                                دکتری: مدیریت دولتی ( گرایش خط‌ مشی‌گذاری عمومی)
                            </li>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bxs-graduation t-warning t-x24'></i>
                                کارشناسی ارشد: مدیریت دولتی (گرایش تحول)
                            </li>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bxs-graduation t-warning t-x24'></i>
                                کارشناسی: مدیریت صنعتی
                            </li>
                        </ul>
                    </div>
                    <div class="divider my-1">
                        <div class="divider-text t-bold t-center t-x7">سوابق شهرداری</div>
                    </div>
                    <div class="blog-details-list-item">
                        <ul>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bx-brightness t-success t-x24'></i>
                                سرپرست اداره کل برنامه و
                                بودجه
                            </li>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bx-brightness t-success t-x24'></i>
                                سرپرست دفتر پایش برنامه،
                                کنترل پروژه و ارزیابی عملکرد
                            </li>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bx-brightness t-success t-x24'></i>
                                سرپرست معاونت امور
                                نهادهای اداره کل تدوین مقررات و هماهنگی امور شوراها
                            </li>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bx-brightness t-success t-x24'></i>
                                مشاور اداره‌کل فرهنگی
                                شهرداری تهران
                            </li>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bx-brightness t-success t-x24'></i>
                                مسئول واحد برنامه‌ریزی
                                عملیاتی و بودجه سازمان فرهنگی و هنری شهرداری تهران
                            </li>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bx-brightness t-success t-x24'></i>
                                مشاور نوسازی و تحول
                                اداری شرکت بهره برداری مجموعه برج میلاد
                            </li>
                        </ul>
                    </div>
                    <div class="divider my-1">
                        <div class="divider-text t-bold t-center t-x7">
                            سوابق خارج شهرداری
                        </div>
                    </div>
                    <div class="blog-details-list-item">
                        <ul>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bx-brightness t-primary t-x24'></i>
                                مسئول برنامه‌ریزی و پایش مرکز پژوهش‌های مجلس
                                شورای اسلامی
                            </li>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bx-brightness t-primary t-x24'></i>
                                مسئول برنامه‌ریزی و کنترل پروژه شرکت مشاوره
                                مدیریت و مطالعات راهبردی تدبیر
                            </li>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bx-brightness t-primary t-x24'></i>
                                مدیر برنامه‌ریزی و تحلیل نرم‌افزار شرکت
                                سوران
                            </li>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bx-brightness t-primary t-x24'></i>
                                ناظر تخصصی پروژه‌های مدیریت راهبردی سازمان
                                اوقاف و امور خیریه
                            </li>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bx-brightness t-primary t-x24'></i>
                                کارشناس برنامه‌ریزی و کنترل پروژه سازمان
                                انرژی اتمی
                            </li>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bx-brightness t-primary t-x24'></i>
                                کارشناس برنامه‌ریزی و کنترل وزارت بهداشت،
                                درمان و آموزش پزشکی
                            </li>
                            <li class="t-x12 t-justify t-fw-300">
                                <i class='bx bx-brightness t-primary t-x24'></i>
                                همکار پروژه تهیه و تدوین مرکز رسانه‌های نوین
                                در سازمان صداوسیما جمهوری اسلامی ایران
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>