<style>
    .about-section-solar .about-shape-img {
        position: absolute;
        bottom: 40px;
        left: 40px;
    }

    .about-section-solar .about-shape-img img {
        width: 100%;
    }

    .feature-section-solar {
        padding-top: 0px;
        padding-bottom: 0;
    }

    .about-section-solar .about-item-box .single-about-box {
        padding-top: 12px !important;
    }

    .about-section-solar .about-item-box .single-about-box .about-desc p {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .about-shape2 {
        position: absolute;
        top: 0;
        right: 50px;
    }

    .about-desc a {
        display: inline-block;
        color: var(--theme-color-white);
        background-color: var(--theme-color2);
        font-weight: 400;
        font-size: 15px;
        border-radius: 45px;
        position: relative;
        z-index: 1;
        transition: all 300ms ease;
    }

    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        outline: none;
    }

    a:hover {
        --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
    }
</style>

<section class="about-section-solar">

    <div class="auto-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="sec-title mb-2">
                    <div class="section-sub-title">
                        <h5 class="sub-title">
                            <img alt="sub-icon" src="/Portals/2/Econet/Image/Skin/environment/sub-title-icon.png" />
                            معرفی
                        </h5>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="about-thumb t-center fade-in">
                                <img alt="about thumb" src="/portals/2/TehranAssets/modirkolBodje.jpg"
                                    style="border-radius: 20px;" class="z-depth-1" />
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="section-title mb-5 mt-5">
                                <h1 class="title title-anim t-x34 t-success">علی علاءالدینی</h1>
                                <h1 class="title title-anim t-x18">مدیرکل برنامه‌ریزی،‌ بودجه و کنترل عملکرد</h1>
                            </div>
                        </div>
                    </div>
                    <div class="divider divider-success divider-dotted text-end-center mt-5">
                        <div class="divider-text t-x20 t-dark t-bold">
                            شرح وظایف اداره کل : 
                        </div>
                    </div>
                    <hr />
                    <div class="swiper swiper-baner w-90 mx-3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-baner">
                                <h2 class="t-justify t-x14 t-fw-300 mb-5 mr-5">
                                    <i class='bx bx-brightness t-success t-x28'></i>
                                    تهیه، تنظیم و پایش برنامه‌های جامع بلند مدت و میان مدت راهبردی و عملیاتی شهرداری
                                    تهران.
                                </h2>
                            </div>
                            <div class="swiper-slide swiper-slide-baner">
                                <h2 class="t-justify t-x14 t-fw-300 mb-5 mr-5">
                                    <i class='bx bx-brightness t-success t-x28'></i>
                                    تهیه و تنظیم بودجه‌های سالیانه شهرداری تهران، اصلاحیه‌ها و متمم آن، ابلاغ بودجه مصوب
                                    و
                                    مدیریت تخصیص اعتبارات برای کنترل منابع و مصارف، همچنین کنترل و نظارت بر اجرای برنامه
                                    و
                                    بودجه در راستای پایش چگونگی میزان تحقق اهداف و برنامه‌های پیش‌بینی شده.
                                </h2>
                            </div>
                            <div class="swiper-slide swiper-slide-baner">
                                <h2 class="t-justify t-x14 t-fw-300 mb-5 mr-5">
                                    <i class='bx bx-brightness t-success t-x28'></i>

                                    پایش پروژه‌های تملک دارایی سرمایه‌ای (احداثی، اولویت دار، توسعه محلی و مستمر) و
                                    هزینه‌ای
                                    به منظور اطمینان از انجام بموقع و صحیح آن‌ها و تهیه و تدوین شیوه نامه‌ها،
                                    دستورالعمل‌ها
                                    و استانداردهای مربوطه.
                                </h2>
                            </div>
                            <div class="swiper-slide swiper-slide-baner">
                                <h2 class="t-justify t-x14 t-fw-300 mb-5 mr-5">
                                    <i class='bx bx-brightness t-success t-x28'></i>

                                    برنامه‌ریزی و سازماندهی لازم درخصوص مدیریت و راهبری پروژه های خاص.
                                </h2>
                            </div>
                            <div class="swiper-slide swiper-slide-baner">
                                <h2 class="t-justify t-x14 t-fw-300 mb-5 mr-5">
                                    <i class='bx bx-brightness t-success t-x28'></i>
                                    جمع‌آوری، پالایش، به‌روزرسانی و صحت سنجی آمار و اطلاعات عملکردی از منابع و
                                    پایگاه‌های
                                    اطلاعات موجود.
                                </h2>
                            </div>
                            <div class="swiper-slide swiper-slide-baner">
                                <h2 class="t-justify t-x14 t-fw-300 mb-5 mr-5">
                                    <i class='bx bx-brightness t-success t-x28'></i>

                                    طراحی، تحلیل، توسعه و راهبری داشبوردهای مدیریتی و تخصصی مورد نیاز شهرداری تهران.
                                </h2>
                            </div>
                            <div class="swiper-slide swiper-slide-baner">
                                <h2 class="t-justify t-x14 t-fw-300 mb-5 mr-5">
                                    <i class='bx bx-brightness t-success t-x28'></i>

                                    مستندسازی عملکرد بخش‌های مختلف شهرداری تهران و مدیریت انتشار گزارشات عملکرد.
                                </h2>
                            </div>
                            <div class="swiper-slide swiper-slide-baner">
                                <h2 class="t-justify t-x14 t-fw-300 mb-5 mr-5">
                                    <i class='bx bx-brightness t-success t-x28'></i>

                                    توسعه و ارتقا نظام ارزیابی عملکرد (تدوین، بازنگری و تدقیق شاخص های ارزیابی، تحلیل
                                    داده
                                    ها و ...)، تدوین و ارائه گزارش تحلیلی و مدیریتی ارزیابی عملکرد.
                                </h2>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiper-pagination-baner"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-item-box">
                    <div class="divider divider-success divider-dotted text-end-center">
                        <div class="divider-text t-x24 t-bold">معاونت ها</div>
                    </div>




                    <div class="single-about-box fade-in">
                        <div class="about-wrap w-80">
                            <div class="about-icon">
                                <img alt="choose-thumb" src="[URL]" />
                            </div>
                            <div class="title">
                                <p class="mb-0 t-success t-fw-600 t-x18">
                                    [NAME] &nbsp; [FAMILY]
                                </p>
                                <h2 class="t-x14">
                                    [TITLE]
                                </h2>
                            </div>
                        </div>
                        <div class="about-desc t-center w-20">
                            <a class="t-x12 t-center t-white py-2 w-100" href="[URLADDREESS]">
                                <span>
                                   ساب پرتال
                                </span>
                                <i class="fa-solid fa-arrow-left"></i></a>
                        </div>
                    </div>





                </div>
            </div>
        </div>
        <div class="about-shape2">
            <img alt="footer shape" src="/Portals/2/Econet/Image/Skin/solar/footer-shape2.png">
        </div>
        <div class="about-shape-img">
            <img alt="gif" src="/Portals/2/Econet/Image/Skin/Other/logo.png" />
        </div>
    </div>
</section>
<script>
    var swiperbaner = new Swiper('.swiper-baner', {
        pagination: {
            el: '.swiper-pagination-baner',
        },
        speed: 5000,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        }
    });
</script>