<!-- part 1  -->
<style>
    .breadcumb-area {
        background-image: url(/Portals/2/Econet/Image/Skin/breadcumb/breadcumb-bg4.jpg);
        margin-top: 0;
    }

    #InnerPage .header-solar-renewable .main-box {
        top: 0;
    }

    .main-header {
        position: absolute !important;
    }
</style>

<div class="footer-widget-content social">
    <div class="logo">
        <a href="https://plan.tehran.ir/"><img alt="logo" src="/Portals/2/Econet/Image/Skin/Other/logo-white.png" /></a>
    </div>
    <div class="footer-desc t-fw-300 t-x12 t-justify">
        اداره‌کل «برنامه ریزی، بودجه و کنترل عملکرد» که از ادغام ماموریت‌های دو اداره‌کل «برنامه و بودجه» و
        اداره‌کل «پایش برنامه، کنترل پروژه و ارزیابی عملکرد» ایجاد شده است، ماموریت‌های مهمی از شهرداری
        تهران را برعهده دارد
    </div>
</div>

<!-- Initialize Swiper -->
<script type="module">
    $(document).ready(function () { //********************************************************body
        // var mobileMenuContent = $('.main-header .main-menu .navigation').html();

        // $('.mobile-menu .navigation').append(mobileMenuContent);
        // $('.sticky-header .navigation').append(mobileMenuContent);
        // $('.mobile-menu .close-btn').on('click', function () {
        //     $('body').removeClass('mobile-menu-visible');
        // });

        // $('.mobile-menu li.dropdown .dropdown-btn').on('click', function () {
        //     $(this).prev('ul').slideToggle(500);
        //     $(this).toggleClass('active');
        // });

        // $('.mobile-nav-toggler').on('click', function () {
        //     $('body').addClass('mobile-menu-visible');
        // });

        // $('.mobile-menu .menu-backdrop, .mobile-menu .close-btn').on('click', function () {
        //     $('body').removeClass('mobile-menu-visible');
        // });

        $(".breadcumb-area").vegas({
            delay: 10000, // 10 ثانیه نمایش هر اسلاید
            transitionDuration: 10000, // 3 ثانیه طول افکت انتقال
            animationDuration: 10000, // 30 ثانیه برای انیمیشن‌های subtle (مثل zoom)
            cover: true,          // اطمینان از کشیدن تا لبه‌ها (پیش‌فرض true است)
            align: 'center',      // مرکز تصویر را نگه دار تا برش لبه‌ها کم شود
            valign: 'center',
            slides: [
                { src: "/Portals/2/Econet/Image/Skin/breadcumb/breadcumb-bg1.jpg" },
                { src: "/Portals/2/Econet/Image/Skin/breadcumb/breadcumb-bg2.jpg" },
                { src: "/Portals/2/Econet/Image/Skin/breadcumb/breadcumb-bg3.jpg" }
            ],
            //overlay: '/Portals/2/Econet/Image/Vegas/overlays/09.png',
            transition: ['fade2', 'zoomOut', 'swirlLeft2', 'swirlRight2', 'blur2'],
            animation: 'random'
        });
    });  
</script>

<!-- part 2 -->
<div class="footer-widget-content">
    <h3 class="footer-title">لینک ها</h3>
    <ul class="footer-menu">
        <li>
            <a href="https://plan.tehran.ir/">خانه<i class="fa-solid fa-arrow-left-long"></i></a>
        </li>
        <li>
            <a href="https://plan.tehran.ir/%D9%85%D8%B9%D8%B1%D9%81%DB%8C/%D8%B3%D8%A7%D8%AE%D8%AA%D8%A7%D8%B1">ساختار<i
                    class="fa-solid fa-arrow-left-long"></i></a>
        </li>
        <li>
            <a href="https://plan.tehran.ir/%D9%85%D8%B9%D8%B1%D9%81%DB%8C/%D8%A7%D8%AF%D8%A7%D8%B1%D9%87-%DA%A9%D9%84">اداره
                کل<i class="fa-solid fa-arrow-left-long"></i></a>
        </li>
        <li>
            <a href="https://plan.tehran.ir/%D8%A7%D8%B1%D8%AA%D8%A8%D8%A7%D8%B7-%D8%A8%D8%A7-%D9%85%D8%A7">تماس<i
                    class="fa-solid fa-arrow-left-long"></i></a>
        </li>
    </ul>
</div>

<!-- part 3 -->
<div class="footer-widget-content">
    <h3 class="footer-title">پیوندهای مفید</h3>
    <ul class="footer-menu">
        <li>
            <a href="https://www.tehran.ir/">شهرداری تهران<i class="fa-solid fa-arrow-left-long"></i></a>
        </li>
        <li>
            <a href="https://phcd.tehran.ir/">معاونت برنامه‌ریزی<i class="fa-solid fa-arrow-left-long"></i></a>
        </li>
        <li>
            <a href="https://hrgo.tehran.ir/">اداره کل سرمایه انسانی<i class="fa-solid fa-arrow-left-long"></i></a>
        </li>
        <li>
            <a href="https://plan.tehran.ir/Login?returnurl=%2fnewBase"> ورود به سایت<i
                    class="fa-solid fa-arrow-left-long"></i></a>
        </li>
    </ul>
</div>

<!-- part 4 -->
<div class="footer-widget-content">
    <h3 class="footer-title">تماس</h3>
    <div class="footer-content">
        <div class="location">
            <span>آدرس ما</span>
            <span class="t-x12 t-fw-200 t-justify mr-2 t-white">
                خیابان بهشت، روبروی پارک شهر، ساختمان شماره 1 شهرداری تهران، طبقه دوم
            </span>
        </div>
        <ul class="contact-info">
            <li class="email-text">
                <a href="#">شماره تماس</a>
            </li>
            <li class="email-address">
                <span class="t-x12 t-fw-200 t-justify mr-2 t-white">
                    96014231-96014555
                </span>
            </li>
        </ul>
    </div>
</div>