<style>
    .why-choose-section-solar .choose-box .choose-icon span {
        position: absolute;
        top: 20px;
    }

    .choose-title {
        width: 75%;
        margin-right: 20%;
        margin-top: 20px;
    }

    .choose-box i {
        color: #fff;
        transition: color 0.3s ease;
    }

    .choose-box:hover i {
        color: #41c575;
    }
</style>

<div class="auto-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="sec-title text-center">
                <div class="section-sub-title">
                    <h5 class="sub-title">
                        <img alt="sub-icon" src="/Portals/2/Econet/Image/Skin/environment/sub-title-icon.png" />خدماتی
                        که ما ارائه می دهیم
                    </h5>
                </div>
                <div class="section-title">
                    <h1 class="title title-anim">
                        تهران
                    </h1>
                    <h1 class="title title-anim t-x24 mt-2">
                        شما هم شهردار باشید ...
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="choose-box-wrapper">
                <div class="choose-box fade-in">
                    <div class="choose-icon">
                        <span>
                            <i class='bx bx-book-reader t-x28 pt-2'></i>
                        </span>
                    </div>
                    <div class="choose-title" style="width: 75%;">
                        <h4 class="t-x20">دبیرخانه دائمی بودجه ریزی مشارکتی (طرح من شهردارم)</h4>
                    </div>
                    <div class="econet-hover-box hover-bx"></div>
                    <div class="econet-hover-box hover-bx2"></div>
                    <div class="econet-hover-box hover-bx3"></div>
                    <div class="econet-hover-box hover-bx4"></div>
                </div>
                <div class="choose-box box-2 fade-in">
                    <div class="choose-icon two">
                        <span>
                            <i class='bx bx-layer t-x28 pt-2'></i>
                        </span>
                    </div>
                    <div class="choose-title" style="width: 75%;">
                        <h4 class="t-x20">
                            دبیرخانه مدیریت و راهبری پروژه های شاخص شهری
                        </h4>
                    </div>
                    <div class="econet-hover-box hover-bx"></div>
                    <div class="econet-hover-box hover-bx2"></div>
                    <div class="econet-hover-box hover-bx3"></div>
                    <div class="econet-hover-box hover-bx4"></div>
                </div>
                <div class="choose-box box-3 fade-in">
                    <div class="choose-icon three">
                        <span>
                            <i class='bx bx-outline t-x28 pt-2'></i>
                        </span>
                    </div>
                    <div class="choose-title" style="width: 75%;">
                        <h4 class="t-x20">
                            دبیرخانه تدوین برنامه تحول و پیشرفت شهر تهران
                        </h4>
                    </div>
                    <div class="econet-hover-box hover-bx"></div>
                    <div class="econet-hover-box hover-bx2"></div>
                    <div class="econet-hover-box hover-bx3"></div>
                    <div class="econet-hover-box hover-bx4"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="why-choose-thumb">
                <div>
                    <img alt="choose-thumb" src="/Portals/2/Econet/Image/Skin/solar/why-choose-thumb.png" />
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="choose-box-wrapper">
                <div class="choose-box fade-in">
                    <div class="choose-icon">
                        <span>
                            <i class='bx bx-book-open t-x28 pt-2'></i>
                        </span>
                    </div>
                    <div class="choose-title" style="width: 75%;">
                        <h4 class="t-x20">
                            دبیرخانه تدوین برنامه تحول و پیشرفت شهر تهران
                        </h4>
                    </div>
                    <div class="econet-hover-box hover-bx"></div>
                    <div class="econet-hover-box hover-bx2"></div>
                    <div class="econet-hover-box hover-bx3"></div>
                    <div class="econet-hover-box hover-bx4"></div>
                </div>
                <div class="choose-box box-2 fade-in">
                    <div class="choose-icon two">
                        <span>
                            <i class='bx bx-book-alt t-x28 pt-2'></i>
                        </span>
                    </div>
                    <div class="choose-title" style="width: 75%;">
                        <h4 class="t-x20">
                            دبیرخانه تدوین برنامه تحول و پیشرفت شهر تهران
                        </h4>
                    </div>
                    <div class="econet-hover-box hover-bx"></div>
                    <div class="econet-hover-box hover-bx2"></div>
                    <div class="econet-hover-box hover-bx3"></div>
                    <div class="econet-hover-box hover-bx4"></div>
                </div>
                <div class="choose-box box-3 fade-in">
                    <div class="choose-icon three">
                        <span>
                            <i class='bx bx-bookmark-alt t-x28 pt-2'></i>
                        </span>
                    </div>
                    <div class="choose-title" style="width: 75%;">
                        <h4 class="t-x20">
                            دبیرخانه تدوین برنامه تحول و پیشرفت شهر تهران
                        </h4>
                    </div>
                    <div class="econet-hover-box hover-bx"></div>
                    <div class="econet-hover-box hover-bx2"></div>
                    <div class="econet-hover-box hover-bx3"></div>
                    <div class="econet-hover-box hover-bx4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="choose-shape1" style="top: 100px;">
        <img alt="choose shape" src="/Portals/2/Econet/Image/Skin/solar/why-choose-shape.png" />
    </div>
    <div class="choose-shape1" style="top: 100px;left: 370px;right: auto;">
        <img alt="choose shape" src="/Portals/2/Econet/Image/Skin/solar/why-choose-shape2.png" />
    </div>
    <div class="choose-shape3 solar-tree">
        <img alt="choose shape" src="/Portals/2/Econet/Image/Skin/solar/why-choose-shape3.png" />
    </div>
    <div class="choose-shape4 windmill-img">
        <img alt="choose shape" src="/Portals/2/Econet/Image/Skin/solar/why-choose-shape4.png" />
    </div>
</div>