<style>
    .about-section-classic .about-shape1 {
        left: 80px;
    }

    .about-section-classic .about-sec {
        padding-bottom: 0px;
    }

    .about-section-classic .about-shape3 {
        top: 40px;
        right: 40px;
    }

    .about-section-classic {
        padding: 10px 0 0px;
    }

    #dnn_MarqueeOneTopClassic {
        display: none;
    }

    .about-shape2 {
        position: absolute;
        top: 0;
        right: 10px;
        animation: upDown 1.8s ease-in-out 1.8s forwards infinite alternate;
    }

    .econet-button a::before {
        right: auto;
        left: 25px;
    }
</style>

<div class="auto-container">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-8">
            <div class="divider divider-success my-1">
                <div class="divider-text t-success t-center t-x18 t-fw-700">
                    <div class="sec-title my-0 mx-auto">
                        <div class="section-sub-title t-center">
                            <h5 class="sub-title t-x20 t-success t-fw-700 mb-0">
                                <i class="bx bx-book-open t-x20"></i>
                                چرا بودجه شهروندی؟
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center about-sec align-items-center d-flex">
        <div class="col-lg-4">
            <h1 class="title text-anime-3 t-x18 t-success">
                سندی ساده، قابل فهم و قابل دسترس
            </h1>
            <hr />
            <div class="econet-button">
                <a href="about.html" class="t-x14">
                    سال 1405
                    <i class="fa-solid fa-arrow-left"></i>
                    <span></span>
                </a>
            </div>
            <div class="econet-button">
                <a href="about.html" class="t-x14">
                    مصوب سال 1404
                    <i class="fa-solid fa-arrow-left"></i>
                    <span></span>
                </a>
            </div>
            <div class="econet-button">
                <a href="about.html" class="t-x14">
                    مصوب و عملکرد سال های 1403 - 1401
                    <i class="fa-solid fa-arrow-left"></i>
                    <span></span>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="about-thumb px-2">
                <div>
                    <img alt="about-thumb" src="/Portals/2/Econet/Image/Skin/Other/shapefile-1.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h1 class="title text-anime-3 t-x18 t-success">
                سندی ساده، قابل فهم و قابل دسترس
            </h1>
            <hr />
            <p class="t-justify t-x14 t-fw-200 w-100">
                برای همه شهروندان که اطلاعات مختصر، ساده و غیرفنی در قالب
                اشکال، نمودارهای جذاب و کاربردی در حوزه بودجه عمومی را به آن‌ها توضیح داده و زمینه را برای انجام
                مسئولیت های شهروندی مهیا می‌کند.
            </p>
        </div>
    </div>
    <div class="about-shape2">
        <img alt="footer shape" src="/portals/2/Econet/Image/Skin/solar/footer-shape2.png">
    </div>
</div>