<style>
    .work-process-section-one {
        border-radius: 0 !important;
        margin: 0 !important;
    }

    .breadcumb-area {
        display: none;
    }

    .main-menu .navigation {
        background-color: #5b8370;
        border-radius: 10px;
        padding: 10px;
    }
</style>
<!-- work process section one -->
<section class="work-process-section-one">
    <div class="auto-container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="sec-title text-center">
                    <div class="section-sub-title">
                        <h5 class="sub-title">
                            <img alt="sub-icon" src="/portals/2/Econet/Image/Skin/environment/sub-title-icon.png" />
                            بودجه شهرئندی
                        </h5>
                    </div>
                    <div class="section-title">
                        <h1 class="title text-white text-anime-3">
                            سندی ساده، قابل فهم و قابل دسترس
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="working-process-box first before-transprent after-transprent fade-in">
                    <div class="process-icon">
                        <img alt="icon" src="/portals/2/Econet/Image/Skin/environment/process-icon.png" />
                    </div>
                    <div class="process-content">
                        <h4>1405</h4>
                        <p>
                            ECONET یک اصلی محیط زیست غیرانتفاعی است اختصاص داده شده به
                            محافظت از سیاره از طریق توانمندسازی جامعه
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="working-process-box after-transprent fade-in">
                    <div class="process-icon">
                        <img alt="icon" src="/portals/2/Econet/Image/Skin/environment/process-icon2.png" />
                    </div>
                    <div class="process-content">
                        <h4>1404</h4>
                        <p>
                            ECONET یک اصلی محیط زیست غیرانتفاعی است اختصاص داده شده به
                            محافظت از سیاره از طریق توانمندسازی جامعه
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="working-process-box first before-transprent fade-in">
                    <div class="process-icon">
                        <img alt="icon" src="/portals/2/Econet/Image/Skin/environment/process-icon3.png" />
                    </div>
                    <div class="process-content">
                        <h4>1401 الی 1403</h4>
                        <p>
                            ECONET یک اصلی محیط زیست غیرانتفاعی است اختصاص داده شده به
                            محافظت از سیاره از طریق توانمندسازی جامعه
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="work-process-shape1">
            <img alt="shape1" src="/portals/2/Econet/Image/Skin/environment/process-shape1.png" />
        </div>
        <div class="work-process-shape2">
            <img alt="shape2" src="/portals/2/Econet/Image/Skin/environment/process-shape2.png" />
        </div>
    </div>
</section>
<!-- work process section one -->