<style>
    .ContentPane {
        height: 100vh;
        overflow: hidden;
    }

    .skin_header,
    .skin_footer {
        display: none;
    }

    .crisel {
        background: #e5e5e5;
        border-radius: 200px;
        padding: 10px;
        box-shadow: 0 0 20px #9b9b9b;
    }

    .sub-crisel {
        background: #e9e9e9;
        border-radius: 200px;
        padding: 25px;
        box-shadow: 0 0 10px #979797;
    }

    .elmTextTop {
        width: 120px;
        height: 120px;
        border-radius: 100px;
        margin: 0 auto;
        padding-top: 10px;
        margin-top: -130px;
        background-color: #fff;
    }

    .elmTextSub {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin: 0 auto;
    }

    #loader_A {
        height: 140px;
        width: 140px;
        border-radius: 50%;
        border: 1px solid #ddd;
        z-index: 1;
        margin: 0 auto;
    }

    .Timer_loader_A {
        animation: rotate 5s infinite;
    }

    .Timer_loader_B {
        animation: rotate 15s infinite;
    }

    .Timer_loader_C {
        animation: rotate 10s infinite;
    }

    .Timer_loader_D {
        animation: rotate 8s infinite;
    }

    .Timer_loader_E {
        animation: rotate 20s infinite;
    }

    @keyframes rotate {
        100% {
            rotate: 360deg;
        }
    }

    .img-loader {
        position: absolute;
        left: 0;
        right: 0;
        top: 11vh;
        margin: 0 auto;
        height: auto;
        width: auto;
        z-index: -1;
    }
</style>


<div class="row" style="margin-top: 10vh;">
    <div class="col-lg-12">
        <img src="/Portals/2/Econet/Image/Stand/center.png" class="img-loader">
    </div>
    <div class="col-lg-5">
        <ul class="text-center">
            <li class="d-inline-block w-75 mt-2">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="Timer_loader_B" style="border-top-color: #f75436 !important;" id="loader_A"></div>
                        <div class="elmTextTop" style="box-shadow: 0 0 35px #f75436;">
                            <div class="elmTextSub" style="background-color:#f75436;box-shadow: 0 0 35px #f75436">
                                <a
                                    href="http://31.24.233.16/pbireports/powerbi/%D8%AD%D9%88%D8%B2%D9%87%20%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87%20%D8%B1%DB%8C%D8%B2%DB%8C%D8%8C%20%D8%AA%D9%88%D8%B3%D8%B9%D9%87%20%D8%B3%D8%B1%D9%85%D8%A7%DB%8C%D9%87%20%D8%A7%D9%86%D8%B3%D8%A7%D9%86%DB%8C%20%D9%88%20%D8%A7%D9%85%D9%88%D8%B1%20%D8%B4%D9%88%D8%B1%D8%A7/%D9%85%D9%86%20%D8%B4%D9%87%D8%B1%D8%AF%D8%A7%D8%B1%D9%85%201"><img
                                        class="img-fluid mx-auto"
                                        src="/Portals/2/Econet/Image/Stand/ThinLine/ThinLine-manshahrdaram.png"
                                        style="height: 65px; margin-top: 17px">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <p style="border-bottom: 1px dashed #bdbdbd;padding-bottom: 5px;font-weight: 700;"
                            class="mt-5 pl-2 t-left">
                            من شهردارم 1</p>
                    </div>
                </div>
            </li>
            <li class="d-inline-block w-75 mt-2" style="margin-left: 15vh;">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="Timer_loader_A" style="border-top-color: #ffaa01 !important;" id="loader_A"></div>
                        <div class="elmTextTop" style="box-shadow: 0 0 35px #ffaa01;">
                            <div class="elmTextSub" style="background-color: #ffaa01;box-shadow: 0 0 35px #ffaa01;">
                                <a
                                    href="http://31.24.233.16/pbireports/powerbi/%D8%AD%D9%88%D8%B2%D9%87%20%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87%20%D8%B1%DB%8C%D8%B2%DB%8C%D8%8C%20%D8%AA%D9%88%D8%B3%D8%B9%D9%87%20%D8%B3%D8%B1%D9%85%D8%A7%DB%8C%D9%87%20%D8%A7%D9%86%D8%B3%D8%A7%D9%86%DB%8C%20%D9%88%20%D8%A7%D9%85%D9%88%D8%B1%20%D8%B4%D9%88%D8%B1%D8%A7/%D9%85%D9%86%20%D8%B4%D9%87%D8%B1%D8%AF%D8%A7%D8%B1%D9%85%202"><img
                                        class="img-fluid mx-auto"
                                        src="/Portals/2/Econet/Image/Stand/ThinLine/ThinLine-manshahrdaram.png"
                                        style="height: 65px; margin-top: 17px">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <p style="border-bottom: 1px dashed #bdbdbd;padding-bottom: 5px;font-weight: 700;"
                            class="mt-5 pl-2 t-left">
                            من شهردارم 2
                        </p>
                    </div>
                </div>
            </li>
            <li class="d-inline-block w-75 mt-2" style="margin-left: 20vh;">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="Timer_loader_D" style="border-top-color: #9dd036 !important;" id="loader_A"></div>
                        <div class="elmTextTop" style="box-shadow: 0 0 35px #9dd036;">
                            <div class="elmTextSub" style="background-color: #9dd036;box-shadow: 0 0 35px #9dd036;">
                                <a
                                    href="http://31.24.233.16/pbireports/powerbi/%D8%AD%D9%88%D8%B2%D9%87%20%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87%20%D8%B1%DB%8C%D8%B2%DB%8C%D8%8C%20%D8%AA%D9%88%D8%B3%D8%B9%D9%87%20%D8%B3%D8%B1%D9%85%D8%A7%DB%8C%D9%87%20%D8%A7%D9%86%D8%B3%D8%A7%D9%86%DB%8C%20%D9%88%20%D8%A7%D9%85%D9%88%D8%B1%20%D8%B4%D9%88%D8%B1%D8%A7/%D9%85%D9%86%20%D8%B4%D9%87%D8%B1%D8%AF%D8%A7%D8%B1%D9%85%203"><img
                                        class="img-fluid mx-auto"
                                        src="/Portals/2/Econet/Image/Stand/ThinLine/ThinLine-manshahrdaram.png"
                                        style="height: 65px; margin-top: 17px">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <p style="border-bottom: 1px dashed #bdbdbd;padding-bottom: 5px;font-weight: 700;"
                            class="mt-5 pl-2 t-left">

                            من شهردارم 3</p>
                    </div>
                </div>
            </li>
            <li class="d-inline-block w-75 mt-2" style="margin-left: 15vh;">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="Timer_loader_E" style="border-top-color: #01bcb1 !important;" id="loader_A"></div>
                        <div class="elmTextTop" style="box-shadow: 0 0 35px #01bcb1;">
                            <div class="elmTextSub" style="background-color: #01bcb1;box-shadow: 0 0 35px #01bcb1;">
                                <a
                                    href="http://31.24.233.16/pbireports/powerbi/%D8%AD%D9%88%D8%B2%D9%87%20%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87%20%D8%B1%DB%8C%D8%B2%DB%8C%D8%8C%20%D8%AA%D9%88%D8%B3%D8%B9%D9%87%20%D8%B3%D8%B1%D9%85%D8%A7%DB%8C%D9%87%20%D8%A7%D9%86%D8%B3%D8%A7%D9%86%DB%8C%20%D9%88%20%D8%A7%D9%85%D9%88%D8%B1%20%D8%B4%D9%88%D8%B1%D8%A7/%D9%85%D9%86%20%D8%B4%D9%87%D8%B1%D8%AF%D8%A7%D8%B1%D9%853%20-%20%D8%B3%D8%A7%D8%B2%D9%85%D8%A7%D9%86%D9%87%D8%A7"><img
                                        class="img-fluid mx-auto"
                                        src="/Portals/2/Econet/Image/Stand/ThinLine/ThinLine-sms.png"
                                        style="height: 65px; margin-top: 17px">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <p style="border-bottom: 1px dashed #bdbdbd;padding-bottom: 5px;font-weight: 700;"
                            class="mt-5 pl-2 t-left">

                            من شهردارم3-سازمان ها </p>
                    </div>
                </div>
            </li>
            <li class="d-inline-block w-75 mt-2">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="Timer_loader_C" style="border-top-color: #8f4c81 !important;" id="loader_A"></div>
                        <div class="elmTextTop" style="box-shadow: 0 0 35px #8f4c81;">
                            <div class="elmTextSub" style="background-color: #8f4c81;box-shadow: 0 0 35px #8f4c81;">
                                <a
                                    href="http://31.24.233.16/pbireports/powerbi/%D8%AD%D9%88%D8%B2%D9%87%20%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87%20%D8%B1%DB%8C%D8%B2%DB%8C%D8%8C%20%D8%AA%D9%88%D8%B3%D8%B9%D9%87%20%D8%B3%D8%B1%D9%85%D8%A7%DB%8C%D9%87%20%D8%A7%D9%86%D8%B3%D8%A7%D9%86%DB%8C%20%D9%88%20%D8%A7%D9%85%D9%88%D8%B1%20%D8%B4%D9%88%D8%B1%D8%A7/%D9%BE%D8%B1%D9%88%DA%98%D9%87%20%D9%87%D8%A7%DB%8C%20%D9%85%D9%86%20%D8%B4%D9%87%D8%B1%D8%AF%D8%A7%D8%B1%D9%85%20%D8%AF%D8%B1%20%DA%A9%D9%86%D8%AA%D8%B1%D9%84%20%D9%BE%D8%B1%D9%88%DA%98%D9%87"><img
                                        class="img-fluid mx-auto"
                                        src="/Portals/2/Econet/Image/Stand/ThinLine/ThinLine-controlProject.png"
                                        style="height: 65px; margin-top: 17px">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <p style="border-bottom: 1px dashed #bdbdbd;padding-bottom: 5px;font-weight: 700;"
                            class="mt-5 pl-2 t-left">بررسی
                            کنترل پروژه من شهردارم
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-2" style="margin-top:25vh">
        <div class="crisel">
            <div class="sub-crisel">
                <img src="/portals/2/Econet/Logo/logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <ul class="text-center">
            <li class="d-inline-block w-75 mt-2">
                <div class="row">
                    <div class="col-lg-8">
                        <p style="border-bottom: 1px dashed #bdbdbd;padding-bottom: 5px;font-weight: 700;"
                            class="mt-5 pr-2">
                            پنل پیامکی
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <div class="Timer_loader_A" style="border-top-color: #f75436 !important;" id="loader_A"></div>
                        <div class="elmTextTop" style="box-shadow: 0 0 35px #f75436;">
                            <div class="elmTextSub" style="background-color:#f75436;box-shadow: 0 0 35px #f75436">
                                <a
                                    href="http://31.24.233.16/pbireports/powerbi/%D8%AD%D9%88%D8%B2%D9%87%20%D8%B4%D9%87%D8%B1%D8%AF%D8%A7%D8%B1/%D9%BE%D9%86%D9%84%20%D9%BE%DB%8C%D8%A7%D9%85%DA%A9%DB%8C%20%D8%B4%D9%87%D8%B1%D8%AF%D8%A7%D8%B1%20%D8%AA%D9%87%D8%B1%D8%A7%D9%86">
                                    <img class="img-fluid mx-auto"
                                        src="/Portals/2/Econet/Image/Stand/ThinLine/ThinLine-sms.png"
                                        style="height: 65px;margin-top: 17px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="d-inline-block w-75 mt-2" style="margin-right: 15vh;">
                <div class="row">
                    <div class="col-lg-8">
                        <p style="border-bottom: 1px dashed #bdbdbd;padding-bottom: 5px;font-weight: 700;"
                            class="mt-5 pr-2">
                            کلان پروژه ها
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <div class="Timer_loader_B" style="border-top-color: #ffaa01 !important;" id="loader_A"></div>
                        <div class="elmTextTop" style="box-shadow: 0 0 35px #ffaa01;">
                            <div class="elmTextSub" style="background-color: #ffaa01;box-shadow: 0 0 35px #ffaa01;">
                                <a
                                    href="http://31.24.233.16/pbireports/powerbi/%D8%AD%D9%88%D8%B2%D9%87%20%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87%20%D8%B1%DB%8C%D8%B2%DB%8C%D8%8C%20%D8%AA%D9%88%D8%B3%D8%B9%D9%87%20%D8%B3%D8%B1%D9%85%D8%A7%DB%8C%D9%87%20%D8%A7%D9%86%D8%B3%D8%A7%D9%86%DB%8C%20%D9%88%20%D8%A7%D9%85%D9%88%D8%B1%20%D8%B4%D9%88%D8%B1%D8%A7/%DA%A9%D9%84%D8%A7%D9%86%20%D9%BE%D8%B1%D9%88%DA%98%D9%87%20%D9%87%D8%A7"><img
                                        class="img-fluid mx-auto"
                                        src="/Portals/2/Econet/Image/Stand/ThinLine/ThinLine-kalanshahr.png"
                                        style="height: 65px; margin-top: 17px">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="d-inline-block w-75 mt-2" style="margin-right: 20vh;">
                <div class="row">
                    <div class="col-lg-8">
                        <p style="border-bottom: 1px dashed #bdbdbd;padding-bottom: 5px;font-weight: 700;"
                            class="mt-5 pr-2">
                            پروژه های شهرداری تهران
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <div class="Timer_loader_C" style="border-top-color: #9dd036 !important;" id="loader_A"></div>
                        <div class="elmTextTop" style="box-shadow: 0 0 35px #9dd036;">
                            <div class="elmTextSub" style="background-color: #9dd036;box-shadow: 0 0 35px #9dd036;">
                                <a
                                    href="http://31.24.233.16/pbireports/powerbi/%D8%AD%D9%88%D8%B2%D9%87%20%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87%20%D8%B1%DB%8C%D8%B2%DB%8C%D8%8C%20%D8%AA%D9%88%D8%B3%D8%B9%D9%87%20%D8%B3%D8%B1%D9%85%D8%A7%DB%8C%D9%87%20%D8%A7%D9%86%D8%B3%D8%A7%D9%86%DB%8C%20%D9%88%20%D8%A7%D9%85%D9%88%D8%B1%20%D8%B4%D9%88%D8%B1%D8%A7/%D9%BE%D8%B1%D9%88%DA%98%D9%87%20%D9%87%D8%A7%DB%8C%20%D8%B4%D9%87%D8%B1%D8%AF%D8%A7%D8%B1%DB%8C%20%D8%AA%D9%87%D8%B1%D8%A7%D9%86"><img
                                        class="img-fluid mx-auto"
                                        src="/Portals/2/Econet/Image/Stand/ThinLine/ThinLine-projectShahrdari.png"
                                        style="height: 65px; margin-top: 17px">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="d-inline-block w-75 mt-2" style="margin-right: 15vh;">
                <div class="row">
                    <div class="col-lg-8">
                        <p style="border-bottom: 1px dashed #bdbdbd;padding-bottom: 5px;font-weight: 700;"
                            class="mt-5 pr-2">
                            پایش احکام برنامه چهارم
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <div class="Timer_loader_D" style="border-top-color: #01bcb1 !important;" id="loader_A"></div>
                        <div class="elmTextTop" style="box-shadow: 0 0 35px #01bcb1;">
                            <div class="elmTextSub" style="background-color: #01bcb1;box-shadow: 0 0 35px #01bcb1;">
                                <a
                                    href="http://31.24.233.16/pbireports/powerbi/%D8%AD%D9%88%D8%B2%D9%87%20%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87%20%D8%B1%DB%8C%D8%B2%DB%8C%D8%8C%20%D8%AA%D9%88%D8%B3%D8%B9%D9%87%20%D8%B3%D8%B1%D9%85%D8%A7%DB%8C%D9%87%20%D8%A7%D9%86%D8%B3%D8%A7%D9%86%DB%8C%20%D9%88%20%D8%A7%D9%85%D9%88%D8%B1%20%D8%B4%D9%88%D8%B1%D8%A7/%D9%BE%D8%A7%DB%8C%D8%B4%20%D8%A7%D8%AD%DA%A9%D8%A7%D9%85%20%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87%20%DA%86%D9%87%D8%A7%D8%B1%D9%85"><img
                                        class="img-fluid mx-auto"
                                        src="/Portals/2/Econet/Image/Stand/ThinLine/ThinLine-payesh.png"
                                        style="height: 65px; margin-top: 17px">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="d-inline-block w-75 mt-2">
                <div class="row">
                    <div class="col-lg-8">
                        <p style="border-bottom: 1px dashed #bdbdbd;padding-bottom: 5px;font-weight: 700;"
                            class="mt-5 pr-2">
                            بودجه مصوب 1404
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <div class="Timer_loader_E" style="border-top-color: #8f4c81 !important;" id="loader_A"></div>
                        <div class="elmTextTop" style="box-shadow: 0 0 35px #8f4c81;">
                            <div class="elmTextSub" style="background-color: #8f4c81;box-shadow: 0 0 35px #8f4c81;">
                                <a
                                    href="https://dashboard.tehran.ir/PBIreports/powerbi/حوزه برنامه ریزی، توسعه سرمایه انسانی و امور شورا/مصارف و منابع بودجه"><img
                                        class="img-fluid mx-auto"
                                        src="/Portals/2/Econet/Image/Stand/ThinLine/ThinLine-bodjeh.png"
                                        style="height: 65px; margin-top: 17px">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>










</div>