<style>
    /* === Swiper coverflow Base === */
    .swiper-container-coverflow {
        width: 100%;
        padding-bottom: 20px;
        overflow: hidden;
    }

    .swiper-slide-coverflow {
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        transition: transform 0.5s ease, box-shadow 0.5s ease;
    }

    /* متن تست داخل هر اسلاید */
    .swiper-slide-coverflow p,
    .swiper-slide-coverflow span {
        font-family: "IRANYekanX", sans-serif !important;
        color: #fff;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
        font-size: 1rem;
        margin-top: 100px;
    }

    /* وقتی فعال (وسط) می‌باشد */
    .swiper-slide-coverflow.swiper-slide-active {
        box-shadow: 0 16px 35px rgba(0, 0, 0, 0.5);
        transform: scale(1.1);
    }

    /* Pagination Dots */
    .swiper-pagination-coverflow {
        bottom: 15px !important;
    }

    .swiper-pagination-coverflow .swiper-pagination-bullet {
        background: #5cf683;
        /* بنفش ایندگو */
        opacity: 0.5;
        width: 12px;
        height: 12px;
        transition: opacity .3s, transform .3s;
    }

    .swiper-pagination-coverflow .swiper-pagination-bullet-active {
        opacity: 1;
        background: #048200;
        /* بنفش تیره مناسب عنوان */
        transform: scale(1.3);
    }

    /* ... طراحی ریسپانسیو برای موبایل‌ها */
    @media (max-width: 768px) {
        .swiper-slide-coverflow {
            width: 300px;
            height: 100%;
        }
    }

    @media (max-width: 480px) {
        .swiper-slide-coverflow {
            width: 300px;
            height: 100%;
        }

        .swiper-slide-coverflow p {
            font-size: 0.85rem;
        }
    }

    .categoryelm {
        position: fixed;
        top: 100vh;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100vw;
        background-color: rgb(0 0 0 / 80%);
        height: 100vh;
        padding: 0 10vw;
        z-index: 9999;
        text-align: center;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .blog-thumb {
        cursor: pointer;
    }
</style>

<div class="auto-container">
    <div class="row justify-content-center align-items-center my-5">
        <div class="col-lg-6">
            <div class="divider divider-success my-1">
                <div class="divider-text t-success t-center t-x18 t-fw-700">
                    <div class="sec-title my-0 mx-auto">
                        <div class="section-sub-title t-center">
                            <h5 class="sub-title t-x20 t-success t-fw-700 mb-0">
                                <i class="bx bx-book-open t-x20"></i>
                                اکران عمومی بودجه شهروندی
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-6 col-md-6">
            <div class="single-blog-box">
                <div class="blog-thumb z-depth-1 rounded border border-warning p-1" onclick="loadModal('coverflowelmEjtemaee')">
                    <img class="rounded" alt="thumb" src="/portals/2/Econet/Image/Simi/Head/headEjtemaee.jpg" />
                </div>
                <hr class="my-3" />
                <h1 class="t-center t-fw-700 t-x14 t-success">
                    اجتماعی و فرهنگی
                </h1>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6">
            <div class="single-blog-box">
                <div class="blog-thumb z-depth-1 rounded border border-warning p-1" onclick="loadModal('coverflowelmBohran')">
                    <img class="rounded" alt="thumb" src="/portals/2/Econet/Image/Simi/Head/headebohran.jpg" />
                </div>
                <hr class="my-3" />
                <h1 class="t-center t-fw-700 t-x14 t-success">
                    ایمنی و مدیریت بحران </h1>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6">
            <div class="single-blog-box">
                <div class="blog-thumb z-depth-1 rounded border border-warning p-1" onclick="loadModal('coverflowelmshahrsazi')">
                    <img class="rounded" alt="thumb" src="/portals/2/Econet/Image/Simi/Head/headshahrsazi.jpg" />
                </div>
                <hr class="my-3" />
                <h1 class="t-center t-fw-700 t-x14 t-success">
                    شهرسازی و معماری </h1>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6">
            <div class="single-blog-box">
                <div class="blog-thumb z-depth-1 rounded border border-warning p-1" onclick="loadModal('coverflowelmHoshmand')">
                    <img class="rounded" alt="thumb" src="/portals/2/Econet/Image/Simi/Head/headHoshmand.jpg" />
                </div>
                <hr class="my-3" />
                <h1 class="t-center t-fw-700 t-x14 t-success">
                    توسعه مدیریت و هوشمند سازی </h1>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6">
            <div class="single-blog-box">
                <div class="blog-thumb z-depth-1 rounded border border-warning p-1" onclick="loadModal('coverflowelmteraffic')">
                    <img class="rounded" alt="thumb" src="/portals/2/Econet/Image/Simi/Head/headteraffic.jpg" />
                </div>
                <hr class="my-3" />
                <h1 class="t-center t-fw-700 t-x14 t-success">
                    حمل و نقل و ترافیک </h1>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6">
            <div class="single-blog-box">
                <div class="blog-thumb z-depth-1 rounded border border-warning p-1" onclick="loadModal('coverflowelmkhadamatshari')">
                    <img class="rounded" alt="thumb" src="/portals/2/Econet/Image/Simi/Head/headkhadamatshari.jpg" />
                </div>
                <hr class="my-3" />
                <h1 class="t-center t-fw-700 t-x14 t-success">
                    خدمات شهری و محیط زیست </h1>
            </div>
        </div>
    </div>
</div>


<div id="coverflowelmEjtemaee" class="categoryelm">
    <div class="divider">
        <div class="divider-text t-bold t-center t-x20 t-white">
            اجتماعی و فرهنگی
        </div>
    </div>
    <!-- Swiper -->
    <div class="swiper-container swiper-container-coverflow wow fadeInUp" id="ejtemaee">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/ejtemaee/1.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/ejtemaee/1.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/ejtemaee/2.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/ejtemaee/2.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/ejtemaee/3.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/ejtemaee/3.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/ejtemaee/4.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/ejtemaee/4.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/ejtemaee/5.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/ejtemaee/5.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/ejtemaee/6.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/ejtemaee/6.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/ejtemaee/7.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/ejtemaee/7.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/ejtemaee/8.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/ejtemaee/8.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-coverflow" id="paginationejtemaee"></div>
    </div>
    <button type="button" class="btn btn-default py-1 btnmodal t-bold mb-0 mt-3 py-1 t-x6 t-white"
        style="background-color: #007a48 !important;" onclick="closeModal('coverflowelmEjtemaee')">بستن</button>
</div>

<div id="coverflowelmBohran" class="categoryelm">
    <div class="divider">
        <div class="divider-text t-bold t-center t-x20 t-white">
            ایمنی و مدیریت بحران </div>
    </div>
    <!-- Swiper -->
    <div class="swiper-container swiper-container-coverflow wow fadeInUp" id="Bohran">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/bohran/1.jpg" class="img-responsive center-block rounded" alt="">
                <a href="/Portals/2/Econet/Image/Simi/bohran/1.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/bohran/2.jpg" class="img-responsive center-block rounded" alt="">
                <a href="/Portals/2/Econet/Image/Simi/bohran/2.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-coverflow" id="paginationBohran"></div>
    </div>
    <button type="button" class="btn btn-default py-1 btnmodal t-bold mb-0 mt-3 py-1 t-x6 t-white"
        style="background-color: #007a48 !important;" onclick="closeModal('coverflowelmBohran')">بستن</button>
</div>

<div id="coverflowelmHoshmand" class="categoryelm">
    <div class="divider">
        <div class="divider-text t-bold t-center t-x20 t-white">
            توسعه مدیریت هوشمند سازی
        </div>
    </div>
    <!-- Swiper -->
    <div class="swiper-container swiper-container-coverflow wow fadeInUp" id="Hoshmand">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/Hoshmand/1.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/Hoshmand/1.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/Hoshmand/2.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/Hoshmand/2.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-coverflow" id="paginationHoshmand"></div>
    </div>
    <button type="button" class="btn btn-default py-1 btnmodal t-bold mb-0 mt-3 py-1 t-x6 t-white"
        style="background-color: #007a48 !important;" onclick="closeModal('coverflowelmHoshmand')">بستن</button>
</div>

<div id="coverflowelmkhadamatshari" class="categoryelm">
    <div class="divider">
        <div class="divider-text t-bold t-center t-x20 t-white">
            خدمات شهری و محیط</div>
    </div>
    <!-- Swiper -->
    <div class="swiper-container swiper-container-coverflow wow fadeInUp" id="khadamatshari">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/khadamatshari/1.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/khadamatshari/1.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/khadamatshari/2.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/khadamatshari/2.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/khadamatshari/3.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/khadamatshari/3.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/khadamatshari/4.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/khadamatshari/4.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-coverflow" id="paginationkhadamatshari"></div>
    </div>
    <button type="button" class="btn btn-default py-1 btnmodal t-bold mb-0 mt-3 py-1 t-x6 t-white"
        style="background-color: #007a48 !important;" onclick="closeModal('coverflowelmkhadamatshari')">بستن</button>
</div>

<div id="coverflowelmshahrsazi" class="categoryelm">
    <div class="divider">
        <div class="divider-text t-bold t-center t-x20 t-white">
            شهرسازی و معماری
        </div>
    </div>
    <!-- Swiper -->
    <div class="swiper-container swiper-container-coverflow wow fadeInUp" id="shahrsazi">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/shahrsazi/1.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/shahrsazi/1.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-coverflow" id="paginationshahrsazi"></div>
    </div>
    <button type="button" class="btn btn-default py-1 btnmodal t-bold mb-0 mt-3 py-1 t-x6 t-white"
        style="background-color: #007a48 !important;" onclick="closeModal('coverflowelmshahrsazi')">بستن</button>
</div>

<div id="coverflowelmteraffic" class="categoryelm">
    <div class="divider">
        <div class="divider-text t-bold t-center t-x20 t-white">
            حمل و نقل و ترافیک
        </div>
    </div>
    <!-- Swiper -->
    <div class="swiper-container swiper-container-coverflow wow fadeInUp" id="teraffic">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/teraffic/1.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/teraffic/1.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/teraffic/2.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/teraffic/2.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/teraffic/3.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/teraffic/3.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/teraffic/4.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/teraffic/4.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/teraffic/5.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/teraffic/5.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/teraffic/6.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/teraffic/6.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/teraffic/7.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/teraffic/7.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
            <div class="swiper-slide swiper-slide-coverflow">
                <img src="/Portals/2/Econet/Image/Simi/teraffic/8.jpg" class="img-responsive center-block rounded"
                    alt="">
                <a href="/Portals/2/Econet/Image/Simi/teraffic/8.jpg" role="button" style="margin-top: -100px;"
                    class="btn btn-success py-1 btnmodal t-bold mb-0 py-1 t-x6 t-white">
                    دانلود تصویر
                </a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-coverflow" id="paginationteraffic"></div>
    </div>
    <button type="button" class="btn btn-default py-1 btnmodal t-bold mb-0 mt-3 py-1 t-x6 t-white"
        style="background-color: #007a48 !important;" onclick="closeModal('coverflowelmteraffic')">بستن</button>
</div>

<script>
    function createSwiper(selector, pagination) {
        return new Swiper(selector, {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: pagination,
            },
            speed: 3000,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            }
        });
    }

    // استفاده:
    const coverflowEjtemaee = createSwiper('#ejtemaee', '#paginationejtemaee');
    const coverflowBohran = createSwiper('#Bohran', '#paginationBohran');
    const coverflowHoshmand = createSwiper('#Hoshmand', '#paginationHoshmand');
    const coverflowkhadamatshari = createSwiper('#khadamatshari', '#paginationkhadamatshari');
    const coverflowshahrsazi = createSwiper('#shahrsazi', '#paginationshahrsazi');
    const coverflowteraffic = createSwiper('#teraffic', '#paginationteraffic');

    let loadModal = (elm) => {
        document.getElementById(elm).style.top = "0vh";
    }
    let closeModal = (elm) => {
        document.getElementById(elm).style.top = "100vh";
    }
</script>