<section class="mission-vission-section-charity mt-0">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="sec-title">
                    <div class="section-sub-title">
                        <h5 class="sub-title">
                            <img alt="sub-icon" src="/portals/2/Econet/Image/Skin/environment/sub-title-icon.png" />
                            منابع و درآمدها
                        </h5>
                    </div>
                    <div class="section-title">
                        <h1 class="title title-anim text-white t-success">
                            منابع در آمدی شهرداری تهران </h1>
                        <h1 class="title title-anim text-white t-success">
                            از چه موضاعتی تامین می شوند </h1>
                    </div>
                </div>
                <p class="t-fw-400 t-justify t-x12 t-white">
                    در گزارش حاضر بودجه شهرداری تهران در سال 1402 مورد بررسی اجمالی قرار گرفته است. سنجش وضعیت مالی
                    شهرداریها از آن جهت
                    حائز اهمیت است که چگونگی تأمین مالی فعالیتهای شهرداری میتواند آثار کوتاهمدت و بلندمدتی بر کیفیت
                    ارائه این خدمات داشتهباشد.
                    ازسوی دیگر، بخشی از منابع شهرداریها از محل تسهیم درآمد حاصل از برخی پایههای مالیاتی یا کمکهای دولتی
                    تأمین میشود و پایش
                    مستمر پایداری مالی شهرداریها جهت پیشگیری از سرایت ناترازیها در سطح محلی به سطح ملی یک ضرورت است.
                </p>

                <div class="blog-details-list-item mt-3">
                    <ul>
                        <li class="t-x14 t-justify t-fw-300 t-white">
                            <i class='bx bx-spa t-warning t-x20'></i>نوآوری بازار
                            درآمدها و منابع داخلی
                        </li>
                        <li class="t-x14 t-justify t-fw-300 t-white">
                            <i class='bx bx-spa t-warning t-x20'></i>
                            منابع دریافتی از بودجه عمومی شهرداری
                        </li>
                        <li class="t-x14 t-justify t-fw-300 t-white">
                            <i class='bx bx-spa t-warning t-x20'></i>
                            منابع تأمین زیان)کاهش دارایی جاری: ذخیره استهالک، اندوختهها، موجودی نقدی و ...(
                        </li>
                        <li class="t-x14 t-justify t-fw-300 t-white">
                            <i class='bx bx-spa t-warning t-x20'></i>
                            واگذاری داراییهای سرمایهای

                        </li>
                        <li class="t-x14 t-justify t-fw-300 t-white">
                            <i class='bx bx-spa t-warning t-x20'></i>
                            واگذاری داراییهای مالی
                        </li>
                    </ul>
                </div>                
            </div>
            <div class="col-lg-6">
                <div class="mission-vission-thumb-wrapper">
                    <div class="mission-vission-thumb1">
                        <figure class="">
                            <img alt="thumb1" src="/portals/2/Econet/Image/Skin/charity/mission-thumb1.png" />
                        </figure>
                    </div>
                    <div class="mission-vission-thumb2">
                        <figure class="">
                            <img alt="thumb2" src="/portals/2/Econet/Image/Skin/charity/mission-thumb2.png" />
                        </figure>
                    </div>
                    <div class="mission-vission-thumb3">
                        <figure class="">
                            <img alt="thumb3" src="/portals/2/Econet/Image/Skin/charity/mission-thumb3.png" />
                        </figure>
                    </div>
                    <div class="mission-dot-shape">
                        <img alt="dot" src="/portals/2/Econet/Image/Skin/charity/mission-dot.png" />
                    </div>
                    <div class="mission-shape">
                        <img alt="shape" src="/portals/2/Econet/Image/Skin/charity/mission-shape.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mission-shape1">
        <img alt="shape1" src="/portals/2/Econet/Image/Skin/charity/mission-shape1.png" />
    </div>
</section>