<section class="about-section-charity">
    <div class="auto-container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-thumb-wrapper">
                    <div class="about-thumb">
                        <figure class="">
                            <img alt="about thumb" src="/portals/2/Econet/Image/Skin/charity/about-thumb.png" />
                        </figure>
                    </div>
                    <div class="about-counter">
                        <h3 class="counter">9</h3>
                        <p>بخش<p>
                    </div>
                    <div class="about-shape-dot">
                        <img alt="dot" src="/portals/2/Econet/Image/Skin/charity/about-dot.png" />
                    </div>
                    <div class="about-shape-arrow">
                        <img alt="arrow" src="/portals/2/Econet/Image/Skin/charity/about-arrow.png" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!--section title-->
                <div class="sec-title">
                    <div class="section-sub-title">
                        <h5 class="sub-title">
                            <img alt="sub-icon" src="/portals/2/Econet/Image/Skin/environment/sub-title-icon.png" />
                            مصارف
                        </h5>
                    </div>
                    <div class="section-title">
                        <h1 class="title title-anim">بودجه شهرداری تهران برای </h1>
                        <h1 class="title title-anim">چه بخش هایی هزینه می شوند</h1>
                    </div>
                </div>
                <div class="about-item-box">
                    <div class="single-about-box fade-in">
                        <div class="about-wrap">
                            <div class="about-icon">
                                <img alt="icon" src="/portals/2/Econet/Image/Skin/charity/about-icon.png" />
                            </div>
                            <div class="title" style="width: 200px;">
                                <h2>مصارف</h2>
                            </div>
                        </div>
                        <div class="about-desc">
                            <p class="t-x12 t-justify">
                                در بودجه مصوب سال 1402 شهرداری تهران، منابع ـ مصارف عمومی در حدود 76 هزار میلیارد تومان
                                برآورد شدهاست. عمده منابع از محل
                                درآمدهای ناشی از ساختوساز در محدوده شهر )%50( و عوارض قانون مالیات بر ارزشافزوده )%20(
                                تأمین میشود و استقراض )%6( یا
                                فروش اموال )%8( سهم کمی در تأمین منابع این بودجه دارد. همچنین، بخش بسیار ناچیزی )کمتر از
                                1 درصد( از منابع عمومی شهرداری
                                تهران از طریق کمکهای اعطایی دولت و سازمانهای دولتی تأمین میشود.
                            </p>
                        </div>
                    </div>
                    <div class="single-about-box two fade-in">
                        <div class="about-wrap">
                            <div class="about-icon">
                                <img alt="icon" src="/portals/2/Econet/Image/Skin/charity/about-icon2.png" />
                            </div>
                            <div class="title" style="width: 200px;">
                                <h2>پروژه ها</h2>
                            </div>
                        </div>
                        <div class="about-desc">
                            <p class="t-x12 t-justify">
                                در بودجه مصوب سال 1402 شهرداری تهران، منابع ـ مصارف عمومی در حدود 76 هزار میلیارد تومان
                                برآورد شدهاست. عمده منابع از محل
                                درآمدهای ناشی از ساختوساز در محدوده شهر )%50( و عوارض قانون مالیات بر ارزشافزوده )%20(
                                تأمین میشود و استقراض )%6( یا
                                فروش اموال )%8( سهم کمی در تأمین منابع این بودجه دارد. همچنین، بخش بسیار ناچیزی )کمتر از
                                1 درصد( از منابع عمومی شهرداری
                                تهران از طریق کمکهای اعطایی دولت و سازمانهای دولتی تأمین میشود.
                            </p>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
    <div class="about-shape1">
        <img alt="about shape" src="/portals/2/Econet/Image/Skin/charity/about-shape1.png" />
    </div>
    <div class="about-shape2">
        <img alt="about shape2" src="/portals/2/Econet/Image/Skin/charity/about-shape2.png" />
    </div>
    <div class="about-shape3">
        <img alt="about shape3" src="/portals/2/Econet/Image/Skin/charity/about-shape3.png" />
    </div>
</section>