<script src="/Portals/2/skins/municipality.bodjeh.y1404/assets/Public/amcharts/core.js?cdv=587"
    type="text/javascript"></script>
<script src="/Portals/2/skins/municipality.bodjeh.y1404/assets/Public/amcharts/charts.js?cdv=587"
    type="text/javascript"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/forceDirected.js"></script>
<script src="/Portals/2/skins/municipality.bodjeh.y1404/assets/Public/amcharts/themes/animated.js?cdv=587"
    type="text/javascript"></script>

<style>
    #ForceDirectedSeriesChartdive {
        width: 100%;
        height: 100vh;
        max-width: 100%;
        direction: ltr;
    }
</style>
<div class="why-choose-section-solar-classic">
    <div class="auto-container">
        <div class="row justify-content-center align-items-center my-1">
            <div class="col-lg-6">
                <div class="divider divider-warning my-1">
                    <div class="divider-text t-success t-center t-x18 t-fw-700">
                        <div class="sec-title my-0 mx-auto">
                            <div class="section-sub-title t-center">
                                <h5 class="sub-title t-x20 t-success t-fw-700 mb-0">
                                    <i class="bx bx-book-open t-x20"></i>
                                    اهداف کلان، اهداف عملیاتی و برنامه های 1405
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12">
                <div id="ForceDirectedSeriesChartdive"></div>
            </div>
        </div>
        <div class="choose-shape4 windmill-img">
            <img alt="choose shape" src="/portals/2/Econet/Image/Skin/solar/footer-shape2.png" />
        </div>
    </div>
</div>

<script>
    am4core.ready(function () {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end


        var chart = am4core.create("ForceDirectedSeriesChartdive", am4plugins_forceDirected.ForceDirectedTree);
        var networkSeries = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries())

        chart.data = [
            {
                name: "شهرداری تهران",
                children: [
                    {
                        name: "کاهش آلودگی هوا، رفع ترافیک و تسهیل عبور و مرور شهری",
                        collapsed: true,
                        children: [
                            { name: "A1", value: 10 },
                            { name: "A2", value: 10 }
                        ]
                    },
                    {
                        name: "مدیریت مطلوب پسماند، امحاء زیست پذیر و حفظ محیط زیست",
                        collapsed: true,
                        children: [
                            { name: "B1", value: 10 },
                            { name: "B2", value: 10 }
                        ]
                    }, {
                        name: "مدیریت بحران، افزایش ایمنی و نوسازی شهر",
                        collapsed: true,
                        children: [
                            { name: "A1", value: 10 },
                            { name: "A2", value: 10 }
                        ]
                    },
                    {
                        name: "بهبود و ارتقاء فرهنگ، مدیریت آسیب‌های اجتماعی و راهبری ظرفیت‌های فرهنگی",
                        collapsed: true,
                        children: [
                            { name: "B1", value: 10 },
                            { name: "B2", value: 10 }
                        ]
                    }, {
                        name: "زیباسازی و مناسب سازی شهر و بازآفرینی معماری ایرانی و اسلامی",
                        collapsed: true,
                        children: [
                            { name: "A1", value: 10 },
                            { name: "A2", value: 10 }
                        ]
                    },
                    {
                        name: "توسعه اقتصاد شهر، بسط رفاه و بهبود معیشت شهروندان",
                        collapsed: true,
                        children: [
                            { name: "B1", value: 10 },
                            { name: "B2", value: 10 }
                        ]
                    }, {
                        name: "توسعه زیست بوم نوآوری در مدیریت شهری و حکمرانی شهری دانش بنیان",
                        collapsed: true,
                        children: [
                            { name: "A1", value: 10 },
                            { name: "A2", value: 10 }
                        ]
                    },
                    {
                        name: "تقویت و ارتقاء دیپلماسی شهری و توسعه مدیریت ارتباط با شهروندان",
                        collapsed: true,
                        children: [
                            { name: "B1", value: 10 },
                            { name: "B2", value: 10 }
                        ]
                    },
                    {
                        name: "بهبود و توسعه مدیریت سازمان شهرداری تهران",
                        collapsed: true,
                        children: [
                            { name: "B1", value: 10 },
                            { name: "B2", value: 10 }
                        ]
                    },
                ]
            }
        ];

        networkSeries.dataFields.value = "value";
        networkSeries.dataFields.name = "name";
        networkSeries.dataFields.children = "children";
        networkSeries.dataFields.collapsed = "collapsed";
        networkSeries.nodes.template.propertyFields.collapsed = "collapsed";

        networkSeries.nodes.template.tooltipText = "{name}:{value}";
        networkSeries.nodes.template.fillOpacity = 1;

        networkSeries.nodes.template.label.text = "{name}";
        networkSeries.nodes.template.label.wrap = true;
        networkSeries.nodes.template.label.maxWidth = 140;
        networkSeries.nodes.template.label.textAlign = "middle";
        networkSeries.nodes.template.label.hideOversized = false;
        networkSeries.nodes.template.label.truncate = false;
        networkSeries.nodes.template.label.oversizedBehavior = "wrap";
        networkSeries.nodes.template.label.fontSize = 11;

        networkSeries.minRadius = 50;
        networkSeries.maxRadius = 100;
        networkSeries.maxLevels = 2;  // اختیاری، برای نمایش اولیه تا سطح ۲

        networkSeries.links.template.strokeWidth = 1;

        var hoverState = networkSeries.links.template.states.create("hover");
        hoverState.properties.strokeWidth = 3;
        hoverState.properties.strokeOpacity = 1;

        networkSeries.nodes.template.cursorOverStyle = am4core.MouseCursorStyle.pointer;
        networkSeries.nodes.template.events.on("hit", function (event) {
            event.target.dataItem.toggle();
        });

        networkSeries.nodes.template.events.on("over", function (event) {
            event.target.dataItem.childLinks.each(function (link) {
                link.isHover = true;
            });
            if (event.target.dataItem.parentLink) {
                event.target.dataItem.parentLink.isHover = true;
            }
        });

        networkSeries.nodes.template.events.on("out", function (event) {
            event.target.dataItem.childLinks.each(function (link) {
                link.isHover = false;
            });
            if (event.target.dataItem.parentLink) {
                event.target.dataItem.parentLink.isHover = false;
            }
        });

    });// end am4core.ready()
</script>