<section class="why-choose-section-solar mx-0" style="border-radius: 0;">
    <div class="auto-container">       
        <div class="row">
            <div class="col-6">
                <div class="banner-content-wrap">
                    <div class="banner-title">
                        <h1 class="t-right t-x48 mt-4" style="padding-right: 65px">
                            <span class="choose-shape-image">
                                <img alt="circle" src="/portals/2/Econet/Image/Skin/solar/shape-right.png"
                                    style="height: 100px;">
                            </span>
                            اداره کل
                        </h1>
                        <h1 class="title t-success title-anim t-x34">برنامه&zwnj;ریزی، بودجه و کنترل عملکرد</h1>
                        <p>
                            کاربران گرامی این بخش از سایت در حال بروزرسانی و توسعه می باشد . از اینکه ما را در انجام این امر با صبر خود یاری می نمایید کمال تشکر رو داریم ...
                        </p>
                    </div>
                  
                </div>
            </div>
            <div class="col-6">
                <img src="/Portals/2/Econet/Image/Skin/Other/Updating.png" />
            </div>
        </div>      
        <div class="choose-shape4 windmill-img">
            <img alt="choose shape" src="/Portals/2/Econet/Image/Skin/solar/why-choose-shape4.png" />
        </div>
    </div>
</section>